body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background-color: #dcdcdc;
  margin: 0;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #aa0404;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #aa0404;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(255, 77, 0);
  background-color: transparent;
  text-decoration: underline;
}

b{
  color: rgb(0, 0, 0);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

.bottomnav {
  background-color: #333;
  overflow: hidden;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 24px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
header {
  background-color: #333333;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header .active {
  background-color: #aa0404;
  color: #ffffff;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #333333;
}
.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #000000;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header li a .active,
.header .menu-btn .active{
  background-color: #aa0404;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 28px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.pic {
  border: #aa0404;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #aa0404;
  color: white;
}

.pic {
  border: #aa0404;
}

h1 {
  background-color: transparent;
  color: rgb(0, 0, 0);
  /* text-align: center; */
  font-size: clamp(1.8rem, 2vw, 2.8rem);
  margin: 10px;
  font-weight: 50;
}
h2 {
  background-color: transparent;
  color: rgb(59, 59, 59);
  /* text-align: center; */
  width:80%;
  font-size: clamp(1.8rem, 2vw, 5rem);
  margin: 10px;
  font-weight: 50;
}

.home_content {
  position: relative;
  flex: 1 0 auto;
}
.home_content .cover {
  position:fixed;
  top:15%;
  bottom:10%;
  left:10%;
  right:10%;
  display:block;
  background: transparent;
  opacity:0.85;
}
.home_content .cover:hover {
  opacity:1;
}

.home_content .cover .text {
  position: absolute;
  text-align: center;
  padding: 10%;
  font-size:clamp(1.8rem, 2vw, 2.8rem);
  background-color:#ffffff;
  opacity:1;
}

.collapsible {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: clamp(1.8rem, 2vw, 2.8rem);
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active.collapsible:after {
  content: "\2212";
}

.content {
  padding: 9px 9px;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* background-color: #f1f1f1; */
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
  overflow:hidden;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  overflow:hidden;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} */